# I'm not entirely convinced these work
*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/[Bb]uild/
*/[Bb]uilds/
*/[Ll]ogs/
*/[Mm]emoryCaptures/

# These are more likely to work?
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

# Maybe these will work?
*/Library/*
*/Temp/*
*/Obj/*
*/Build/*
*/Builds/*
*/Logs/*
*/MemoryCaptures/*